// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
}
h4 {
  margin-top: 30px;
}
.four .columns {
  text-align: center;
}
.container.order {
  color: white;
  margin: 20px auto;
}
.menu {
  background-color: lightslategrey;
}
